{% extends 'cartilla/base.html' %}

{% load static %}
{% load cart_tag %}

{# https://getbootstrap.com/docs/4.5/examples/checkout/ #}


{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Su compra</span>
                    <span class="badge badge-secondary badge-pill">{{request.session.cart|length}}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for key,value in request.session.cart.items %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div style="color: #6c757d">
                            <h6 class="product-name"><strong>{{value.name}}</strong></h6>
                            <small class="text-muted">{{value.quantity}} x {{value.price}}</small>
                        </div>
                        <span class="text-muted">{{ value.price|multiply:value.quantity }}</span>
                    </li>
                    {% endfor %}
                    
                    <!--
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-$5</span>
                    </li>
                    -->
                    <li class="list-group-item d-flex justify-content-between" style="color: #6c757d">
                        <span>Total</span>
                        <strong>$ {{cart_total_amount}}</strong>
                    </li>
                </ul>

                <!--
                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </div>
                </form>
                -->
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Por favor, ingrese su nombre para ser llamado cuando su pedido esté listo</h4>
                <form action="{% url 'eess:cart_confirm_mp' %}" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Nombre</label>
                            <input type="text" class="form-control" name="firstName" placeholder="" value="" required />
                            <div class="invalid-feedback">
                                Necesita una denominación para reconocer su pedido.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">Pedido Nº</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="{{request.session.session_key|slice:'0:5'}}" readonly />
                        </div>
                    </div>
                    
{% comment %}                    
                    <hr class="mb-4" style="background-color: white" />
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address" />
                        <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info" />
                        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                    </div>
                    <hr class="mb-4" />

                    <h4 class="mb-3">Payment</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required />
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required />
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required />
                            <label class="custom-control-label" for="paypal">PayPal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required />
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required />
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required />
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required />
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4" />
{% endcomment %}

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Confirmar el pedido</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}


{% block js %}
    <!-- https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js -->
    <script src="{% static 'js/mercadopago/mercadopago.js' %}"></script>
{% endblock %}
