{% load static %}

<!-- footer id="footer" ng-controller="footer" class="ng-scope" -->    
<footer id="footer" class="footer-bottom-area" -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 text-center">
                <div class="footer-text wow fadeInUp" data-wow-delay=".6s">
                    <p class="text-muted">
                        <i class="fa fa-copyright "></i> 2019 - <span>Lubre SRL</span> - Todos los derechos reservados
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <img src="{% static 'homepage/img/certificacionnes_iso.png'%}" style="width: 150px;">
            </div>
        </div>
    </div>
</footer>
