<div class="welcome-image-area">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>YPF Agro</h2>
                        <p>Venta integral de productos, asesoramiento y servicio para el sector agropecuario</p>
                        <a class="slide-btn smoth-scroll" href="#about">Información</a>
                        <a class="slide-btn smoth-scroll" href="#contact">Contacto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
