{% load static %}

<section id="pricing" class="pricing-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Ofertas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="pricing-box">
                    <div class="pricing-header">
                        <div class="plan-title">
                            <img src="/media/pricing/oferta1.png" alt="">
                        </div>
                        <div class="plan-price">
                            $99
                        </div>
                        <div class="plan-month text-muted">
                            dólares
                        </div>
                    </div>
                    <ul class="list-unstyled plan-features">
                        <li>Herbicida Metolacloro 96%</li>
                        <li><img src="/media/pricing/cultivo1.png" alt=""></li>
                    </ul>
                    <a class="read-more" href="">comprar ahora</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="pricing-box">
                    <div class="pricing-header">
                        <div class="plan-title">
                            <img src="/media/pricing/oferta2.png" alt="">
                        </div>
                        <div class="plan-price">
                            $185
                        </div>
                        <div class="plan-month text-muted">
                            pesos
                        </div>
                    </div>
                    <ul class="list-unstyled plan-features">
                        <li>Lubricante Elaion F50 DPF 5W - 30</li>
                        <li>Nafta 4 Tiempos, Diesel</li>
                        <li>Sintético</li>
                    </ul>
                    <a class="read-more" href="">comprar ahora</a>
                </div>
            </div>

            <div class="col-md-3  col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="pricing-box">
                    <div class="pricing-header">
                        <div class="plan-title">
                            <h4>super</h4>
                        </div>
                        <div class="plan-price">
                            $100
                        </div>
                        <div class="plan-month text-muted">
                            por día
                        </div>
                    </div>
                    <ul class="list-unstyled plan-features">
                        <li>bla bla bla</li>
                        <li>bla bla bla</li>
                        <li>bla bla bla</li>
                    </ul>
                    <a class="read-more" href="">comprar ahora</a>
                </div>
            </div>

            <div class="col-md-3  col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="pricing-box">
                    <div class="pricing-header">
                        <div class="plan-title">
                            <h4>promo</h4>
                        </div>
                        <div class="plan-price">
                            $200
                        </div>
                        <div class="plan-month text-muted">
                            por hora
                        </div>
                    </div>
                    <ul class="list-unstyled plan-features">
                        <li>bla bla bla</li>
                        <li>bla bla bla</li>
                        <li>bla bla bla</li>
                    </ul>
                    <a class="read-more" href="">comprar ahora</a>
                </div>
            </div>
                
        </div>
    </div>
</section>


{% comment %}
    <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
        <div class="pricing-box">
            <div class="pricing-header">
                <div class="plan-title">
                    <h4>standard plan</h4>
                </div>
                <div class="plan-price">
                    $199
                </div>
                <div class="plan-month text-muted">
                    per month
                </div>
            </div>
            <ul class="list-unstyled plan-features">
                <li>Basic Updates</li>
                <li>Basic Features</li>
                <li>Community Support</li>
                <li>Real time Monitoring</li>
            </ul>
            <a class="read-more" href="">buy now</a>
        </div>
    </div>
{% endcomment %}