{% load static %}

<section class="project-complete-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-project-complete">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h2 class="counter-num">1200</h2>
                    <h6 class="text-muted">proyectos terminados</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-project-complete">
                    <i class="fa fa-users"></i>
                    <h2 class="counter-num">1000</h2>
                    <h6 class="text-muted">Clientes felices</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-project-complete">
                    <i class="fa fa-code"></i>
                    <h2 class="counter-num">56090</h2>
                    <h6 class="text-muted">Artículos vendidos</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-project-complete">
                    <i class="fa fa-angellist"></i>
                    <h2 class="counter-num">31</h2>
                    <h6 class="text-muted">Premios ganados</h6>
                </div>
            </div>
        </div>
    </div>
</section>
