{% load static %}

<section class="get-started section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="get-text text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <h2>Listado de Productos</h2>
                    <p>Consulta nuestro catálogo de productos, donde podrás obtener información detallada de los mismos.</p>
                    <a href="{% url 'tienda:producto_listado' %}" class="read-more">Consultar</a>
                </div>
            </div>
        </div>
    </div>
</section>
