<ul class="header-social">
    <li>
        <a href="https://api.whatsapp.com/send?phone=3816655864&text=Buenos%20d&iacute;as,%20necesito%20informaci&oacute;n" target="blank">
            <i class="fa fa-whatsapp"></i>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/lubresrl.ypfagro/" target="blank">            
            <i class="fa fa-facebook-f"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/search?q=lubresrl" target="blank">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li>
        <!-- @lubresrl.ypfagro -->
        <a href="https://www.instagram.com/lubresrl.ypfagro/" target="blank">
            <i class="fa fa-instagram"></i>
        </a></li>
    <li>
        <a href="mailito:info@lubresrl.com.ar" target="blank">
            <i class="fa fa-envelope"></i>
        </a>
    </li>
</ul>
