{% load static %}

<section class="video-area" data-stellar-background-ratio="0.6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="video-area-text text-center wow bounceIn">
                    <a href="https://www.youtube.com/watch?v=B8bfoMI2dmY" class="video-play mfp-iframe">
                    <i class="fa fa-play"></i>
                    </a>
                    <h2>Nuestra historia ...</h2>
                </div>
            </div>
        </div>
    </div>
</section>
