.acc-kontainer {
    background-color:#b3b0af;
    color:#000;
    width: 100%;
    margin: auto;
}
.acc-kontainer .acc-body {
    width: 98%;
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 28px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.acc-kontainer label {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    padding: 15px;
    width: 100%;
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    z-index: 100;
}

.acc-kontainer input{
    display: none;
}

.acc-kontainer label:before {
    font-family: 'FontAwesome';
    content: '\f067';
    font-weight: bolder;
    float: right;
}

.acc-kontainer input:checked+label {
    background-color: rgba(255, 255, 255, 0.15);
}

.acc-kontainer input:checked+label:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    transition: 0.5s;
}

.acc-kontainer input:checked~.acc-body {
    height: auto;
    color: #000;
    font-size: 16px;
    padding: 20px;
    transition: 0.5s;
}    