{% extends 'default_movil.html' %}


{% block content %}

    <button type="button" class="btn btn-primary btn-lg"
            data-toggle="modal" data-target="#myModal" data-whatever="variable1">
        modal
    </button>

    <button type="button" class="btn btn-primary btn-lg"
            data-toggle="modal" data-target="#myModal" data-whatever="variable2">
        modal table
    </button>

{% endblock %}


{% block modal %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Búsqueda ...</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                    Cargando datos ...

                    <h4>Do you want to delete this subject?</h4>
                    <input type="text" id="subjid" name="subjid">

                </div>
                <div class="modal-footer">
                    <!--
                    <button type="button" class="btn btn-primary">Save changes</button>
                    -->
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    <!-- mis funciones -->
    <script type="text/javascript">

    $('#myModal').on('shown.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var subjId = button.data('whatever')

        var modal = $(this)
        modal.find('.modal-body input').val(subjId)

        switch (subjId) {
            case 'variable1':
                open_modal();
                break;
            case 'variable2':
                open_table_modal();
                break;
            default:
                console.log('no hay opciones para la ventana modal');
        }

    })

    function open_modal() {
        let urlPath = '{% url 'prueba:busqueda_modal' %}';

        $.ajax({
            url: urlPath,
            success: function(response) {
                $('#modalContent').html(response);
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            },
        });
    }

    function open_table_modal() {
        let urlPath = '{% url 'prueba:busqueda_table_modal' %}';

        $.ajax({
            url: urlPath,
            success: function(response) {
                $('#modalContent').html(response);
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            },
        });
    }

    </script>
{% endblock %}