{% extends 'default_movil.html' %}

{% load static %}
{% load widget_tweaks %}

{# https://simpleisbetterthancomplex.com/tutorial/2016/11/28/how-to-filter-querysets-dynamically.html #}

{% block content %}
    <form method="get">
        <div class="well">
            <h4 style="margin-top: 0">Filtro</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.persona.label_tag }}
                    {% render_field filter.form.persona class="form-control" %}
                </div>
{% comment %}
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.nombre.label_tag }}
                    {% render_field filter.form.nombre class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.apellido.label_tag }}
                    {% render_field filter.form.apellido class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.year_joined.label_tag }}
                    {% render_field filter.form.year_joined class="form-control" %}
                </div>
                <div class="form-group col-sm-8 col-md-6">
                    {{ filter.form.groups.label_tag }}
                    <div>
                        {% for choice in filter.form.groups %}
                        <label class="checkbox-inline">
                            {{ choice.tag }} {{ choice.choice_label }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
{% endcomment %}
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Buscar
            </button>
        </div>
    </form>
    <hr>

    <ul>
        {% for object in filter.qs %}
        <li><a href="{% url 'prueba:resultado' object.pk %}">{{ object.persona }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}



{% comment %}



    <form method="get" action="{% url 'prueba:index3' %}">
        <div>
            {{ filter.form.as_p }}
            <input type="submit" />
        </div>
        <hr>
        <div>
            <select name="selector" size="13">
                {% for obj in filter.qs %}
                <option value="{{obj.id}}">{{obj}}</option>
                {% endfor %}
            </select>
        </div>
        <hr>
        <div>
            <button type="submit">Ok</button>
        </div>
    </form>

{% endcomment %}