{% extends 'default_movil.html' %}

{% load widget_tweaks %}

{% block content %}

    <h1>Página de Prueba</h1>
    <hr>
    <p>Click <a data-toggle="modal" data-target="#myModal" href="{% url 'prueba:busqueda_modal' %}">here</a> to show the modal</p>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- modal -->
    <div class="modal fade" id="myModal">

        {% include 'prueba/busqueda_modal.html' %}

    </div>




{% endblock %}



{% comment %}
$('#yourDivName').html('yourtHTML');

        $.ajax({
            url: urlPath,
            success: function(response) {
                $('#vendedorSelect').html(response);
                if (venId != null) {
                    $("#vendedorSelect").val(venId);
                }
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        });


        $('#modal').on('show.bs.modal', function (event) {
            var modal = $(this)
            alert('uno');

            $.ajax({
                url: "{% url 'prueba:busqueda_modal' %}",
                success: function(response) {
                    alert('dos');
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseText);
                }
            });

        })

{% endcomment %}