{% extends "accounts/base.html" %}
{% load static %}

{% block panel-heading %}
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Recuperar contraseña
{% endblock %}

{% block panel-body %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Información</strong><br> Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.
    </div>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" name="email" id="email" class="form-control" required="required">
            </div>
        </div>

        <br>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block login-btn">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;Enviar instrucciones ...
            </button>

            <br>

            <a href="{% url 'accounts:login' %}">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Iniciar sesión
            </a> |
            <a href="{% url 'accounts:signup' %}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrarse
            </a> |
            <a href="{% url 'homepage:homepage' %}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio
            </a>
        </div>
    </form>
{% endblock %}
