{% extends "accounts/base.html" %}
{% load static %}

{% block panel-heading %}
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Recuperar contraseña
{% endblock %}

{% block panel-body %}
    <div class="alert alert-info">
        Enviado por email las instrucciones para restablecer la contraseña.<br><br>
        Si existe esta cuenta de email, debería recibirlas en breve.<br><br>
        Si no recibe un email, verifique la carpeta de span o compruebe que su dirección sea correcta.
    </div>
{% endblock %}
