{% extends "accounts/base.html" %}
{% load static %}

{% block panel-heading %}
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Cambio de contraseña
{% endblock %}

{% block panel-body %}
    {% if validlink %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Usuario: <strong>{{user}}</strong>
        </div>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="nueva contraseña" required="required">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password2" placeholder="repetir contraseña" required="required">
                </div>
            </div>

            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block login-btn">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;Enviar
                </button>
            </div>
        </form>    
    {% else %}
        <div class="alert alert-danger">
            <!-- button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button -->
            El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado.<br><br>
            Solicite un nuevo restablecimiento de contraseña.
        </div>

        <div class="form-group">
            <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block login-btn">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;Nueva solicitud
            </a>
        </div>
    {% endif %}

{% endblock %}
