{% extends "accounts/base.html" %}
{% load static %}

{% block panel-heading %}
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{object}}
{% endblock %}

{% block panel-body %}
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
    
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" 
                       name="username" value='{{object.user.username}}'
                       placeholder="nombre de usuario" required="required">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                <input type="email" class="form-control"
                       name="email" value="{{object.user.email}}"
                       placeholder="correo electrónico" required="required">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                <input type="text" class="form-control" 
                       name="first_name" value='{{object.user.first_name}}'>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                <input type="text" class="form-control" 
                       name="last_name" value='{{object.user.last_name}}'>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calculator"></i></span>
                <input type="text" class="form-control" 
                       name="last_name" value='{{object.cuit}}'>
            </div>
        </div>

        {% comment %}
        {% endcomment %}
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" 
                   id="is_staff" name="is_staff" {% if object.user.is_staff %}checked{% endif %}>
            <label class="custom-control-label" for="is_staff">Empleado &nbsp;</label>

            <input type="checkbox" class="custom-control-input" 
                   id="is_superuser" name="is_superuser" {% if object.user.is_superuser %}checked{% endif %}>
            <label class="custom-control-label" for="is_superuser">Administrador &nbsp;</label>

            <input type="checkbox" class="custom-control-input" 
                   id="is_active" name="is_active" {% if object.user.is_active %}checked{% endif %}>
            <label class="custom-control-label" for="is_active">Activo</label>
        </div>

        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block login-btn">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;&nbsp;Grabar
            </button>
        </div>
    </form>
    <div class="hint-text small">
            <a href="{% url 'login' %}" class="pull-right text-success">Ya soy usuario</a>
    </div>
{% endblock %}
