.category_list{
    display: flex;
    flex-direction: column;
    width: 18%;
}

.category_list .category_item{
    display: block;
    width: 90%;
    padding: 4px 0;
    background: #1a981a;

    text-align: center;
    text-decoration: none;
    color: #fff;
}

.category_list .ct_item-active{
    background: #2D3E50;
    font-weight: bold;
}
