{% load static %}

<header id="home" class="welcome-area">
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="{% url 'homepage:homepage' %}">
                            <img src="{% static 'images/lubre/logo.png' %}" style="height: 50px; width: auto;"/> 
                        </a>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a class="smoth-scroll" href="{% url 'homepage:homepage' %}">
                                            <i class="fa fa-home"></i> Inicio
                                        </a>
                                    </li>

                                    <!-- solo para los usuarios registrados -->
                                    {% if user.is_authenticated %}
                                    <li>
                                        {% if user.is_staff %}
                                            <a class="smoth-scroll" href="#">
                                                <i class="fa fa-address-card"></i> Empleado
                                            </a>
                                        {% else %}
                                            <a class="smoth-scroll" href="#">
                                                <i class="fa fa-address-card"></i> Cliente
                                            </a>
                                        {% endif %}    
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
