/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

body {
    background-color: #232323;
}

main > .container {
    padding: 30px 15px 30px;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* -------------------------------------------------- */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* -------------------------------------------------- */

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
  
@media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
}
  
.jumbotron p:last-child {
    margin-bottom: 0;
}
  
.jumbotron h1 {
    font-weight: 300;
 }
  
.jumbotron .container {
    max-width: 40rem;
}
  
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
footer p {
    margin-bottom: .25rem;
}
  
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.cartilla .bg-light {
    background-color: #232323;
}

/* -------------------------------------------------- */

.recuadro {
    background-color: #232323;
}

.recuadro .card-header {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: none;
}

.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}
.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important;
}

.text-center {
    text-align: center !important;
}

.align-center {
    text-align: center;
}

.pt-5 {
    padding-top: 3rem !important;
}

.card-banner {
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
    font-weight: 700;
    word-break: break-word;
    color: #fff;
    min-width: 100%;
}

.card-header {
    padding: .75rem .75rem;
}

.card-body {
    word-break: break-word;
    color: #767676;
}

.card-titulo {
    text-align: center;
}

.card-precio {
    text-align: center;
}

.precio-signo {
    font-weight: 700;
    vertical-align: top;
}
.precio-valor {
    font-weight: 700;
    color: #232323;
}

.mbr-fonts-style {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
}

.display-1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
}

.display-5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}

.display-7 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}
