{% extends 'base.html' %}

{% load static %}
{% load mathfilters %}
{% load homepage_tags %}

{% block content %}
    {% include 'grupo/_header.html' %}

    <section id="catalog" class="work section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Catálogos</h2>
                    </div>
                </div>
            </div>

            <!-- grupo de productos -->
            <div class="row">
                <div class="filters col-xs-12 col-md-2">
                    <h6>Filtros</h6><hr>
                    <ul id="filters">
                        <li class="active" data-filter="*">Todos</li>
                        {% for obj in grupos %}
                            <li data-filter=".filtro_{{obj.pk|stringformat:"03d"}}">{{obj.nombre}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-12 col-md-10">
                    <!-- productos -->
                    <div class="work-inner">
                        <div class="row work-posts grid">
                            {% for obj in productos %}
                            <!-- class="col-md-4 col-sm-6 filtro_{{obj.grupo_id}} -->
                            <div class="element-item col-md-3 col-sm-4 col-xs-6 filtro_{{obj.grupo_id|stringformat:'03d'}}">
                                <div class="item wow fadeInUp" data-wow-delay=".1s">
                                    {% comment %}
                                    <!-- a href="/media/{{obj.imagen}}" class="work-popup" -->
                                    <a href="{% url 'homepage:producto_detail' obj.pk %}">
                                    {% endcomment %}
        
                                    <a href="{% url 'homepage:producto_detail' obj.pk %}">
                                        <figure class="effect-apollo">
                                                {% if obj.imagen %}
                                                <img src="/media/{{obj.imagen|thumb_product_path}}" alt="">
                                                {% else %}
                                                <img src="/media/product/thumb/none.jpg" alt="">
                                                {% endif %}
    
                                                <p style="color: black; background-color: white; text-transform: unset;">
                                                    {{obj.nombre}}
                                                </p>
                                                
                                                <figcaption>
                                                    <h2>{{obj.nombre}}</h2>
                                                    <!--
                                                    <div class="category">
                                                        <span>descripción del artículo</span>
                                                    </div>
                                                    -->
                                                </figcaption>

                                        </figure>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </section>

    {% include 'homepage/_footer_bottom.html' %}
{% endblock %}
