{% load crispy_forms_tags %}

<div class="modal fade" 
     id="findModal" role="dialog" tabindex="-1" 
     aria-labelledby="findModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="findModalLabel">Buscar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="findModalBody">
                {% if filter %}
                    {% crispy filter.form filter.form.helper %}
                {% endif %}
                <br>
                <div class="table-responsive" id="findModalTable">
                    {% if table %}
                        {% include 'includes/_modal_find_data.html' %}
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer" id="findModalFooter" style="justify-content: flex-start;">
                Defina el criterio de búsqueda
            </div>
        </div>
    </div>
</div>
