{% load static %}

<!-- Logout Modal-->
<!-- http://debsconsultores.blogspot.com/2019/04/ventanas-modales-con-django-usando.html -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">


    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ventana de ejemplo</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Mensaje o formulario de la ventana
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="#">Aceptar</a>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>


</div>
