<div class="modal fade" 
     id="confirmDelete" role="dialog" tabindex="-1" 
     aria-labelledby="exampleModalLabel" aria-hidden="true">

     <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar / Desactivar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de eliminar o desactivar el registro seleccionado?
            </div>
            <div class="modal-footer">
                <!-- a href="#" class="btn btn-danger" id="btnOkModal">Aceptar</a -->
                <button type="submit" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>

</div>
