{% load static %}

{% url 'empresa:index'   as empresa_url %}
{% url 'actividad:index' as actividad_url %}
{% url 'comercial:index' as comercial_url %}
{% url 'persona:index'   as persona_url %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="{% static 'img/logo.svg' %}" style="width: 56px;">
        </div>        
        <div class="sidebar-brand-text mx-3">Lubre <sub>SRL</sub></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item {% if '/dashboard/' in request.path %} active {%endif%}">
        <a class="nav-link" href="{% url 'gestion:dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tablón</span>
        </a>
    </li>

    <hr class="sidebar-divider my-0">
    {% if perms.empresa.view_empresa %} 
        <li class="nav-item {% if '/empresa/' in request.path %} active {%endif%}">
            <a class="nav-link" href="{% url 'empresa:index' %}">
                <i class="fas fa-fw fa-building"></i>
                <span>Empresas</span>
            </a>
        </li>
    {% endif %}
    {% if perms.empresa.view_actividad %}
        <li class="nav-item {% if '/actividad/' in request.path %} active {%endif%}">
            <a class="nav-link" href="{% url 'actividad:index' %}">
                <i class="fas fa-fw fa-layer-group"></i>
                <span>Actividades</span>
            </a>
        </li>
    {% endif %}
    {% if perms.empresa.view_comercial %}
        <li class="nav-item {% if '/comercial/' in request.path %} active {%endif%}">
            <a class="nav-link" href="{% url 'comercial:index' %}">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Comerciales</span>
            </a>
        </li>
    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    {% if perms.persona.view_persona %}
        <li class="nav-item {% if '/persona/' in request.path %} active {%endif%}">
            <a class="nav-link" href="{% url 'persona:index' %}">
                <i class="fas fa-fw fa-users"></i>
                <span>Personas</span>
            </a>
        </li>
    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
