{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="{% static 'img/logo.svg' %}" style="width: 56px;">
        </div>        
        <div class="sidebar-brand-text mx-3">Lubre <sub>SRL</sub></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'empresa:index' %}">
            <i class="fas fa-fw fa-building"></i>
            <span>Empresas</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'actividad:index' %}">
            <i class="fas fa-fw fa-layer-group"></i>
            <span>Actividades</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'persona:index' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Personas</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
