{% load static %}

{% url 'empresa:index'   as empresa_url %}
{% url 'actividad:index' as actividad_url %}
{% url 'comercial:index' as comercial_url %}
{% url 'persona:index'   as persona_url %}

<!-- menú lateral izquierdo -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="{% static 'img/logo.svg' %}" style="width: 56px;">
        </div>        
        <div class="sidebar-brand-text mx-3">Lubre <sub>SRL</sub></div>
    </a>

    <!-- separador -->
    <hr class="sidebar-divider my-3">

    <!-- dashboard -->
    <li class="nav-item {% if '/dashboard/' in request.path %} active {%endif%}">
        <a class="nav-link" href="{% url 'gestion:dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tablón</span>
        </a>
    </li>

    <!-- personas -->
    {% if perms.persona.view_persona %}
        <!-- separador -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item {% if '/persona/' in request.path %} active {%endif%}">
            <a class="nav-link" href="{% url 'persona:index' %}">
                <i class="fas fa-fw fa-users"></i>
                <span>Personas</span>
            </a>
        </li>
    {% endif %}

    <!-- empresa / comercial / actividad -->
    {% if perms.empleado.view_empleado %} 
        <!-- separador -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item {% if '/empresas/' in request.path %} active {%endif%}">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEMP" aria-expanded="true" aria-controls="collapseEMP">
                <i class="fas fa-fw fa-building"></i>
                <span>Empresas</span>
            </a>
            <div id="collapseEMP" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item {% if '/empresas/empresa/' in request.path %} active {%endif%}" 
                       href="{% url 'empresa:index' %}">
                        <i class="fas fa-fw fa-building"></i> Empresas
                    </a>
                    {% if perms.empresa.view_comercial %}
                        <a class="collapse-item {% if '/empresas/comercial/' in request.path %} active {%endif%}" 
                        href="{% url 'comercial:index' %}">
                         <i class="fas fa-fw fa-user-tie"></i> Comerciales
                        </a>
                    {% endif %}
                    {% if perms.empresa.view_actividad %}
                        <a class="collapse-item {% if '/empresas/actividad/' in request.path %} active {%endif%}" 
                            href="{% url 'actividad:index' %}">
                            <i class="fas fa-fw fa-layer-group"></i> Actividades
                        </a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endif %}

    <!-- rrhh -->
    {% if perms.empleado.view_empleado %} 
        <hr class="sidebar-divider my-0">

        <li class="nav-item {% if '/rrhh/' in request.path %} active {%endif%}">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRRHH" aria-expanded="true" aria-controls="collapseRRHH">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>RRHH</span>
            </a>
            <div id="collapseRRHH" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item {% if '/rrhh/empleado/' in request.path %} active {%endif%}" 
                        href="{% url 'empleado:index' %}">
                         <i class="fas fa-fw fa-users"></i> Empleados
                    </a>
                    {% if perms.vacaciones.view_vacaciones %}
                    <a class="collapse-item {% if '/rrhh/vacaciones/' in request.path %} active {%endif%}" 
                        href="{% url 'vacaciones:index' %}">
                         <i class="fas fa-umbrella-beach"></i> Vacaciones
                    </a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endif %}

    






    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


    {% if request.META.SERVER_PORT == "8000" %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUI" aria-expanded="true" aria-controls="collapseUI">
            <i class="fas fa-fw fa-cog"></i>
            <span>UI</span>
        </a>
        <div id="collapseUI" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/ui/blank">blank</a>
                <a class="collapse-item" href="/ui/buttons">buttons</a>
                <a class="collapse-item" href="/ui/cards">cards</a>
                <a class="collapse-item" href="/ui/charts">charts</a>
                <a class="collapse-item" href="/ui/forgot_password">forgot_password</a>
                <a class="collapse-item" href="/ui/index">index</a>
                <a class="collapse-item" href="/ui/login">login</a>
                <a class="collapse-item" href="/ui/register">register</a>
                <a class="collapse-item" href="/ui/tables">tables</a>
                <a class="collapse-item" href="/ui/utilities_animation">utilities_animation</a>
                <a class="collapse-item" href="/ui/utilities_border">utilities_border</a>
                <a class="collapse-item" href="/ui/utilities_color">utilities_color</a>
                <a class="collapse-item" href="/ui/utilities_other">utilities_other</a>
            </div>
        </div>
    </li>
    {% endif %}
</ul>
