<!DOCTYPE html>

{# Original: http://www.wordpressboss.com/tf/getx-demo/getx/ #}
{% load static %}

<html lang="es">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Roberto West">
        <meta name="description" content="Somos una empresa que a trav&eacute;s de la distribución de productos YPF, busca satisfacer a la clientela brindando un servicio de excelencia a partir del desarrollo de nuestros recursos humanos, de una estructura adecuada y alineada a la estrategia de nuestro principal proveedor, buscamos a partir de resultados, maximizar nuestro desempeño organizacional." />
        <meta name="keywords" content="Lubre, YPF, Lubricantes, Fertilizantes, Agroquimicos, Combustibles, Parafinas, Asfaltos, Herbicidas, Automotores, Funguicidas, Grasas, Aceites, Tucuman, Argentina, Elaion, Insecticidas, Plasticos, Nutricion Vegetal" />
        <meta name="google-site-verification" content="3BQjqRZAss16-xMFZRhgOfBTsfKozCVwbJ3CMpiPkIU" />
        
        <title>Lubre SRL</title>

        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" sizes="32x32">

        <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/font-awesome.min.css' %}">

        <link rel="stylesheet" href="{% static 'homepage/css/animate.min.css' %}">

        <link rel="stylesheet" href="{% static 'homepage/css/style.min.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/responsive.min.css' %}">

        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% comment %}
        <!-- muestra el gráfico de carga -->
        <div class="preloader">
            <div class="status">
                <div class="status-mes"></div>
            </div>
        </div>
        {% endcomment %}

        {% block content %}
        {% endblock %}

        <!-- botón para ir arriba -->
        <div class="scroll-to-up">
            <div class="scrollup">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>

        <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'vendors/jquery/jquery.appear.min.js' %}"></script>
        <script src="{% static 'vendors/owlcarousel/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/jquery/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'vendors/jquery/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'vendors/jquery/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/jquery/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'vendors/wow/js/wow.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/jquery/jquery.sticky.min.js' %}"></script>
        <script src="{% static 'homepage/js/form-contact.min.js' %}"></script>

        <!-- scripts js -->
        <script src="{% static 'homepage/js/scripts.min.js' %}"></script>
        {% block jscript %}
        {% endblock %}
    </body>
</html>
