<!DOCTYPE html>

{# Original: http://www.wordpressboss.com/tf/getx-demo/getx/ #}
{% load static %}

<html lang="es">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Roberto West">
        <meta name="description" content="Somos una empresa que a trav&eacute;s de la distribución de productos YPF, busca satisfacer a la clientela brindando un servicio de excelencia a partir del desarrollo de nuestros recursos humanos, de una estructura adecuada y alineada a la estrategia de nuestro principal proveedor, buscamos a partir de resultados, maximizar nuestro desempeño organizacional." />
        <meta name="keywords" content="Lubre, YPF, Lubricantes, Fertilizantes, Agroquimicos, Combustibles, Parafinas, Asfaltos, Herbicidas, Automotores, Funguicidas, Grasas, Aceites, Tucuman, Argentina, Elaion, Insecticidas, Plasticos, Nutricion Vegetal" />
        <meta name="google-site-verification" content="3BQjqRZAss16-xMFZRhgOfBTsfKozCVwbJ3CMpiPkIU" />
        
        <!-- PAGE TITLE -->
        <title>Lubre SRL</title>
        <!-- FAVI ICON -->
        <link rel="icon" type="image/png" href="{% static 'faviicon.png' %}" sizes="32x32">
        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <!-- ALL GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400,500,600,700,800,900&subset=latin-ext" rel="stylesheet">
        <!-- FONT AWESOME 4 https://fontawesome.com/v4.7.0/icons/ -->
        <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
        <!-- OWL CAROSEL CSS -->
        <link rel="stylesheet" href="{% static 'owlcarousel/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'owlcarousel/css/owl.theme.min.css' %}">
        <!-- LIGHTBOX CSS -->
        <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
        <!-- YOUTUBE CSS -->
        <link rel="stylesheet" href="{% static 'css/YTPlayer.min.css' %}">
        <!-- MAGNIFIC CSS -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
        <!-- ANIMATE CSS -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/component.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/set2.min.css' %}">
        <!-- MAIN STYLE CSS -->
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
        <!-- RESPONSIVE CSS -->
        <link rel="stylesheet" href="{% static 'css/responsive.min.css' %}">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% comment %}
        <!-- muestra el gráfico de carga -->
        <div class="preloader">
            <div class="status">
                <div class="status-mes"></div>
            </div>
        </div>
        {% endcomment %}

        {% block content %}
        {% endblock %}

        <!-- botón para ir arriba -->
        <div class="scroll-to-up">
            <div class="scrollup">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>

        <!-- LATEST JQUERY -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- BOOTSTRAP JS -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- PROGRESS JS  -->
        <script src="{% static 'js/jquery.appear.min.js' %}"></script>
        <!-- OWL CAROUSEL JS  -->
        <script src="{% static 'owlcarousel/js/owl.carousel.min.js' %}"></script>
        <!-- MAGNIFICANT JS -->
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <!-- STEALLER JS -->
        <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
        <!-- COUNTER UP JS -->
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <!-- WOW JS -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- ISOTOP JS -->
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <!-- STICKY JS -->
        <script src="{% static 'js/jquery.sticky.min.js' %}"></script>
        <!-- FOEEM JS -->
        <script src="{% static 'js/form-contact.min.js' %}"></script>
        <!-- YOUTUBE JS -->
        <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
        <script type="text/javascript">
            $('.player').mb_YTPlayer();
        </script>
        
        <!-- GOOGLE MAP JS -->
        <!-- API: AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU - Demo -->
        <!-- API: AIzaSyC0pvaZX0VlvNO63P3WYOVGptNyCDKv_Wo - Roberto West -->
        <!-- API: AIzaSyCusp97uBvyrVV7na-nb7jMYcXuOewazIY - Lubre SRL -->
        <!-- 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCusp97uBvyrVV7na-nb7jMYcXuOewazIY"></script>
        <script src="{% static 'js/gmap3.min.js' %}"></script>
        -->

        <!-- scripts js -->
        <script src="{% static 'js/scripts.min.js' %}"></script>
        {% block jscript %}
        {% endblock %}
    </body>
</html>
