{# extends 'base.html' #}
{% extends 'landing/layers/base_categoria.html' %}
{% load static %}


{% block css %}
    <style>
        img { width: unset;  width: 100%; }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}


{% block content %}

    <!-- encabezado -->
    <div class="row mb-4">
        <div class="col-md-12 mx-auto my-auto text-center">
            <h1>Tabla de Equivalencias</h1>
        </div>
    </div>

    <!-- formulario -->
    <div class="row">
        <div class="col-md-5 mx-auto order-2">
            <form action="." method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="marca" class="form-control" id="marca" placeholder="Marca">
                            {% for x,y in marcas %}
                                {% if y != 'YPF' %}
                                <option value="{{ x }}">{{ y }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>                                    
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="tipo" class="form-control" id="tipo" placeholder="Tipo de lubricante">
                            {% for x,y in tipos %}
                                <option value="{{ x }}">{{ y }}</option>
                            {% endfor %}
                            </select>                                    
                            <small id="productoHelp" class="form-text text-muted">Seleccione una opción para cargar los productos relacionados.</small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="producto" class="form-control" id="producto" placeholder="Producto">
                                <option>---------------------</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary" id="submit" type="submit" disabled=true>Buscar equivalencia</button>
                </div>
            </form>
        </div>
        {% if producto %}
        <div class="col-md-7 order-1">
            <img src="{% static 'img/marcas/' %}{{producto.marca_banner}}-banner.png">
            <h4>{{producto.producto}}</h4>

            <br><p>Su equivalente YPF es:</p>
            <!-- img src="{% static 'img/marcas/ypf-banner.png' %}" -->
            <h4>{{producto.equivalencia}}</h4>
        </div>
        {% endif %}
    </div>

{% endblock %}


{% block jscript %}
<script>
    $('#tipo').click(function() {
        cargar_productos();
    });

    $('#tipo').change(function() {
        cargar_productos();
    });

    function cargar_productos() {
        let urlPath = "{% url 'equivalencia:cargar_productos_ajax' %}";
        let marcaId = $('#marca').val();
        let tipoId = $('#tipo').val();

        $.ajax({
            url: urlPath,
            data: {marcaId: marcaId, tipoId: tipoId},
            success: function(response) {
                $('#producto').html(response);
                // console.log( $('#producto option').length );
                $('#submit').prop("disabled", $('#producto option').length==0);
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        })
    };
</script>
{% endblock %}