{% extends 'landing/layers/base.html' %}
{% load static %}

{% block css %}
<style>
    .btn-un {
        box-shadow: none;
        transition: all .25s ease-out;

        padding: 0;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
    .btn-agro:hover {
        padding: 0.1rem 0.5rem;
        color: #ffffff;
        background-color: #1a981a;
    }
    .btn-eess:hover {
        padding: 0.1rem 0.5rem;
        color: #ffffff;
        background-color: #3d5afe;
    }
    .btn-gas:hover {
        padding: 0.1rem 0.5rem;
        color: #000000;
        box-shadow: inset 0 -3px 0 0 rgb(130, 130, 130);
    }
    .btn-industria:hover {
        padding: 0.1rem 0.5rem;
        color: #000000;
        box-shadow: inset 0 -3px 0 0 rgb(130, 130, 130);
    }

    .card {
        min-width: 180px;
    }
</style>
{% endblock %}

{% block content %}
    <!-- navegación -->
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top sticky-navigation">
        <a class="navbar-brand mx-auto" href="index.html">
            Lubre SRL
        </a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" 
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span data-feather="grid"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#distribuidor">Agro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#eess">Estación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- encabezado para dispositivos móviles -->
    <section class="pt-6 d-block d-md-none" id="home-sm">
        <div class="container">
            <div class="row">
                <div class="mx-auto my-auto text-center">
                    <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="Lubre SRL" style="width: 80%">
                </div>
            </div>
        </div>
    </section>

    <!-- encabezado para desktop -->
    <section class="pt-7 pt-md-6 d-none d-md-block" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto my-auto text-center d-none d-md-block">
                    <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="Lubre SRL" class="img-fluid">
                    <h1>Somos tu YPF en Tucumán</h1>
                </div>
                <div class="col-md-12 mx-auto my-auto text-center">
                    <p class="lead mt-4 text-left">
                        Nuestra organización comprende distintas unidades de negocios, 
                        dónde podemos destacar 
                        <a class="btn btn-un btn-agro" href="#distribuidor">YPG Agro</a>, 
                        <a class="btn btn-un btn-eess" href="#eess">YPG Estación</a>, 
                        <a class="btn btn-un btn-gas" href="javascript:void(0)">YPG Gas</a>, 
                        <a class="btn btn-un btn-industria" href="javascript:void(0)">YPG Industria</a>, 
                        las cuales están relacionada con el mercado de combustibles, 
                        lubricantes, grasas, agroquímicos, fertilizantes, semillas, 
                        materiales, transporte y logística de cargas peligrosas.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- sección Distribuidor -->
    <section class="pt-0" id="distribuidor">
        <div class="container">
            <hr class="my-4">

            <div class="row mt-0">
                <div class="col-md-6 order-2 order-md-1 my-md-auto">
                    <h3>YPF Agro</h3>
                    <p class="text-muted">  <!-- text-muted lead -->
                        Es el canal de venta integral de la compañía más grande de Argentina, que a través de distintos centros emplazados en todo el país y de su red de distribuidores entrega su amplia oferta de insumos y servicios directamente al público.</small>
                    </p>
                    <p class="text-muted">
                        En un mismo lugar, el productor encuentra todos los productos necesarios para desarrollar su actividad, más el soporte técnico y el asesoramiento necesario para solucionar sus necesidades.
                    </p>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <img src="{% static 'landing/img/agro.jpg' %}" class="img-fluid d-block mx-auto" alt="Lubre Agro"/>
                </div>
            </div>

            <div class="row mt-0">
                <div class="col-md-10 mx-auto">
                    <div class="row card-services">
                        {% for obj in agro %}
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                            <a href="{% url 'landing:categoria_list' obj.categoria %}">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="icon-box border-box-green">
                                            <div class="icon-box-inner small-xs text-primary">
                                                <img src="{% static obj.imagen %}" alt="lubricantes" height="30" width="30">
                                            </div>
                                        </div>
                                        <h5 class="mt-0 mb-3">{{obj.texto}}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- sección EESS -->
    <section class="pt-0" id="eess">
        <div class="container">
            <hr class="my-4">

            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'landing/img/eess.jpg' %}" class="img-fluid d-block mx-auto" alt="Lubre Estación"/>
                </div>
                <div class="col-md-6 my-md-auto">
                    <h3>Estación de Servicio</h3>
                    <p class="text-muted">
                        En nuestras instalaciones podrás encontrar todos los reconocidos servicios de <strong>YPF Box</strong> para tu coche.<br>
                    </p>
                    <p class="text-muted">
                        <strong>YPF FULL</strong> es un espacio de encuentro y permanencia placentera, que ofrece la posibilidad de tomar un café o comer algo rico. Sanitarios, Wi-Fi, estacionamiento.
                    </p>
                </div>
            </div>

            <div class="row mt-0">
                <div class="col-md-10 mx-auto">
                    <div class="row card-services">
                        {% for obj in eess %}
                        <div class="col-md-6 mb-3">
                            <a href="{% url 'landing:servicio_detail' obj.categoria %}">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="icon-box border-box">
                                            <div class="icon-box-inner small-xs text-primary">
                                                <img src="{% static obj.imagen %}" alt="combustibles" height="30" width="30">
                                            </div>
                                        </div>
                                        <h5 class="mt-0 mb-3">{{obj.texto}}</h5>
                                        <span class="text-muted">{{obj.descripcion}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- separador (tabla de equivalencias) -->
    <section class="bg-hero py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="text-white">Tabla de Equivalencias</h2>
                    <p class="lead text-white my-4">Consulta la equivalencia de su marca de lubricantes con los productos de YPF</p>
                    <a href="{% url 'equivalencia:form' %}" class="btn btn-primary">Consultar</a>
                </div>
            </div>
        </div>
    </section>

    <!-- sección acerda de ... -->
    <section class="pt-5" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto text-center">
                    <h2>¿Por qué elegirnos?</h2>
                    <p class="lead text-muted text-left">
                        Para alcanzar una posición más competitiva dentro de nuestra actividad buscamos la transformación de nuestra estructura organizacional adaptándola a las exigencias del mercado.<br>
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <img src="{% static 'landing/img/about.webp' %}" class="img-fluid d-block mx-auto" alt="Facebook Messenger">
                </div>
                <div class="col-md-6 my-md-auto">
                    <p class="lead text-muted">
                        Para ello identificamos que nuestro propósito es:
                    </p>
                    <p class="lead text-muted">
                        Ser una empresa sustentable a partir de entregar una propuesta de valor a nuestros clientes, desarrollar las capacidades de nuestros colaboradores y obtener el reconocimiento de nuestra comunidad.
                    </p>
                    <p class="lead text-muted">
                        Para llevar adelante, hemos definido las bases que identifican y orientan nuestro actuar. A partir de la incorporación de nuevas unidades de negocio hemos planteado nuestra MISION y VISION para toda la organización.
                    </p>
                </div>
            </div>
            <!-- acordión -->
            <div class="row mt-3">
                <div id="accordion">
                    <div class="card lead text-muted">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="lead text-muted"><i class="fa fa-plus"></i> Misión de la Organización</span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body ml-6">
                                Somos una empresa que a través de la distribución de productos YPF, buscamos satisfacer a todas las partes interesadas en nuestra organización, atendiendo los requerimientos de cada una de ellas y obteniendo resultados que nos permitan maximizar nuestro desempeño organizacional.
                            </div>
                        </div>
                    </div>
                    <div class="card lead text-muted">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="lead text-muted"><i class="fa fa-plus"></i> Visión de la Organización</span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body ml-6">
                                Ser una empresa reconocida y elegida como proveedor de productos YPF en el mercado de actuación asignado.
                            </div>
                        </div>
                    </div>
                    <div class="card lead text-muted">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="lead text-muted"><i class="fa fa-plus"></i> Nuestros Valores</span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body ml-6">
                                <b>Compromiso</b> con los objetivos y valores de la organización.<br>
                                <b>Responsabilidad</b> para utilizar todas las capacidades para cumplir con la tarea asignada.<br>
                                <b>Profesionalismo</b> que implica desempeñarse con idoneidad en sus tareas para lo cual se fomenta la capacitación permanente.<br>
                                <b>Solidaridad</b> para desarrollar un ambiente laboral que promueva el bienestar de todos los integrantes y propicie la relación con la comunidad.<br>
                                <b>Sentido de pertenencia</b> entendido como identificación con la cultura de la organización.<br>
                                <b>Transparencia</b> para difundir información adecuada, fiel y veraz de la gestión. Comunicación clara tanto interna como externa.<br>
                                <b>Trabajo en equipo</b> como una manera de afrontar el desafío laboral.<br><br>
                            </div>
                        </div>
                    </div>
                    <div class="card lead text-muted">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="lead text-muted"><i class="fa fa-plus"></i> Política de Calidad</span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body ml-6">
                                <b>Política de Calidad, Medio ambiente y Seguridad</b> en <span style="color: #00ae42; font-weight:bold">LUBRE S.R.L.</span><br>
                                Nuestro objetivo principal es desarrollar todas las actividades de producción, distribución, ventas y transporte dentro de un marco ordenado que deviene de la implementación de las normas ISO 9001:2015, ISO 14001:2015 y OHSAS 18001:2007 con la finalidad de proporcionar a nuestros clientes, tanto internos como externos, la mayor satisfacción en nuestros servicios, promover el control del Medio Ambiente y evitar la ocurrencia de accidentes. Nuestros objetivos y forma de lograrlos, podemos enumerarlos de la siguiente manera:
                                <ol>
                                    <li>Implementación y mantenimiento de los Sistemas de Gestión de Calidad, Medio Ambiente y Seguridad</li>
                                    <li>Cumplimiento de toda la legislación vigente y otras normas aplicables</li>
                                    <li>Mantener permanentemente capacitado a todo el personal respecto a Calidad, Medio Ambiente y Seguridad, así como también en producto y servicio, para lograr excelencia en servicios realizados, minimizar los impactos producidos al Medio Ambiente y que la prevención sea tarea de todos los días</li>
                                    <li>Optimizar la logística para el cumplimiento de nuestros servicios a través de un sistema organizado y eficiente</li>
                                    <li>Realizar los mayores esfuerzos para evitar no conformidades internas y externas</li>
                                    <li>Fomentar la mejora continua en todas nuestras actividades por medio de la capacitación y de provisión de los elementos necesarios para la consecución de los objetivos</li>
                                    <li>Realizar permanentemente auditorias tanto internas como externas para verificar el cumplimiento de los sistemas implementados</li>
                                    <li>Cumplir con los plazos de entrega acordados y exigir a nuestros proveedores el cumplimiento de esta meta</li>
                                    <li>Proveer de los recursos necesarios para llevar adelante la Gestión de Calidad, Medio Ambiente y Seguridad</li>
                                    <li>Resguardar la salud, seguridad e integridad psicológica de nuestros empleados y terceros afectados directa o indirectamente por nuestras actividades</li>
                                    <li>Explicitar los lineamientos principales de nuestra organización y las responsabilidades por nivel, haciendo hincapié en que la responsabilidad del cumplimiento de las metas y objetivos fijados es de todos y cada uno de los integrantes de la empresa, comenzando con el ejemplo impartido por la alta dirección</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contacto -->
    <section class="py-5" id="contact">
        <div class="container">
            <hr class="my-4">

            <div class="row">
                <div class="col-md-12 mx-auto text-center">
                    <h2>Contáctanos</h2>
                    <div class="divider bg-primary mx-auto"></div>
                    <p class="text-muted lead">
                        ¿Tienes alguna sugerencia?, ¿Necesitas ayuda?, o simplemente quieres comunicarte con nosotros.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 mx-auto">
                    <div class="mymap">
                        <!-- width="100%" height="500" id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563.5699981032894!2d-65.22325438551684!3d-26.726180891886045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c494de35e0d%3A0xa4e2ba749bf41aac!2sLubre%20SRL!5e0!3m2!1ses-419!2sar!4v1623761769191!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>                
                </div>
                <div class="col-md-6 mx-auto">
                    <form action="." method="post" name="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control" placeholder="correo electrónico">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control" placeholder="su nombre">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="subject" type="tel" class="form-control" placeholder="número de teléfono">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" rows="5" class="form-control" placeholder="ingrese su mensaje"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-primary" id="submitContact" type="submit">Enviar mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- pié de página -->
    <section class="bg-hero py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-white">YPF Agro</h3>
                    <div class="footer">
                        <a href="https://www.google.com/maps/place/Lubre+SRL/@-26.7262022,-65.2232547,17z/data=!3m1!4b1!4m5!3m4!1s0x94226710b015ba25:0xefa46d4f71331abe!8m2!3d-26.726207!4d-65.221066?hl=es-419" target="blank">
                            <i class="fa fa-map-marker"></i> Ruta 9 km 1306<br>
                            T4101 Los Nogales - Tucuman, Argentina 
                        </a><br>
                        
                        <a href="https://api.whatsapp.com/send?phone=3816655864&text=Buenos%20d&iacute;as,%20necesito%20informaci&oacute;n" target="blank">
                            <i class="fa fa-whatsapp"></i> +54 381 665-5864
                        </a><br>

                        <a href="mailito:info@lubresrl.com.ar">
                            <i class="fa fa-at"></i> info@lubresrl.com.ar
                        </a>
                    </div>
                    <div class="pt-3">
                        <ul class="list-inline social">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/lubresrl.ypfagro/" target="blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/lubresrl.ypfagro/" target="blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://ar.linkedin.com/company/lubre-srl" target="blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <h3 class="text-white">YPF Estación</h3>
                    <div class="footer">
                        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3553.7516407203834!2d-65.38090568550732!3d-27.038012804952665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94224fae2a5f7c5d%3A0x228582e51fbc2520!2sEstaci%C3%B3n%20de%20Servicios%20Lubre%20SRL-%20YPF!5e0!3m2!1ses-419!2sar!4v1623955070364!5m2!1ses-419!2sar" target="blank">
                            <i class="fa fa-map-marker"></i> Ruta Nacional 38, km 779<br>
                            T4132 Famaillá - Tucumán, Argentina 
                        </a><br>
                        
                        <a href="https://api.whatsapp.com/send?phone=3816655864&text=Buenos%20d&iacute;as,%20necesito%20informaci&oacute;n" target="blank">
                            <i class="fa fa-whatsapp"></i> +54 381 665-5884
                        </a><br>

                        <a href="mailito:info@lubresrl.com.ar">
                            <i class="fa fa-at"></i> info@lubresrl.com.ar
                        </a>
                    </div>
                    <div class="pt-3">
                        <ul class="list-inline social">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/Ypffamaillalubre" target="blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/lubresrl.ypffamailla/" target="blank"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ir arriba -->
    <div class="scroll-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

{% endblock %}


{% comment %}
{% block jscript %}
    <script>
        $('.collapsed').hover(function() {
            // data-target
            $(this).click();
        });
    </script>
{% endblock %}
{% endcomment %}