{% extends 'default_base.html' %}


{% block modal %}
    {% include 'prueba/includes/find_modal.html' %}
{% endblock %}


{% block js %}
<script type="text/javascript">
    $(window).on('load', function() {
        $('#findModal').modal('show');
    });

    function ajax_modal_submit(form) {
        var dataURL = "{% url 'prueba:filter_modal' %}"

        $.ajax({
            url: dataURL,
            method: 'GET',
            data: $('form').serialize(),
            success: function(response) {
                $('#findModalBody').html(response)
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText)
            }
        })
    };

    $(".enlace").click(function(event) {
        var dataPK = $(this).attr("data-pk");
        alert(dataPK)
        // TODO: lamar a la función de asociación
        event.preventDefault();
    });
</script>
{% endblock %}