{# Original : https://blackrockdigital.github.io/startbootstrap-sb-admin-2/ #}
{# Iconos   : https://fontawesome.com/icons?d=gallery&m=free #}

{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Lubre SRL</title>

        {% include 'includes/_style_sheet.html' %}
        {% block style %}{% endblock %}
    </head>

    <body id="page-top">
        <div id="wrapper">
            {% include 'includes/_sidebar.html' %}
    
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    {% include 'includes/_navbar.html' %}

                    <div class="container-fluid">
                        {% block content %}
                        <h1 class="h3 mb-4 text-gray-800">Pantalla Principal</h1>
                        {% endblock %}

                    </div>

                </div>
                
                {% include 'includes/_footer.html' %}
                
            </div>

        </div>

        <!-- botón flotante de acción -->
        {% block floating-button-action %}{% endblock %}

        {% include 'includes/_scroll_top_button.html' %}

        <!-- ventana modal -->
        {% block modal %}
            {% include 'includes/_modal.html' %}
        {% endblock %}

        {% include 'includes/_java_script.html' %}
        {% block js %}{% endblock %}

    </body>

</html>
