<!DOCTYPE html>
{# Original : https://blackrockdigital.github.io/startbootstrap-sb-admin-2/ #}
{# sbadmin2 : https://startbootstrap.com/previews/sb-admin-2/ #}
{# Iconos   : https://fontawesome.com/icons?d=gallery&m=free #}

{# https://github.com/BlackrockDigital/startbootstrap #}

{% load static %}

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Lubre SRL</title>

        {% include 'includes/_style_sheet.html' %}
        {% block style %}{% endblock %}
    </head>

    <body id="page-top" class="sidebar-toggled">
        <div id="wrapper">
            {# include 'includes/_sidebar.html' #}

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    {% include 'includes/_navbar.html' %}

                    <div class="container-fluid">
                        <!-- sección de mensajes -->
                        {% if messages %}
                        <div class="panel-style">
                            {% for message in messages %}
                            <div class="alert alert-{{message.level_tag}} alert-dismissible text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {% comment %}
                                <strong>{% if message.level_tag == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.level_tag|title }}{% endif %}!</strong>
                                {% endcomment %}
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                                    
                        {% block content %}
                        <h1 class="h3 mb-4 text-gray-800">Pantalla Principal</h1>
                        {% endblock %}

                    </div>

                </div>
                
                {% include 'includes/_footer.html' %}
                
            </div>

        </div>

        <!-- botón flotante de acción -->
        {% block floating-button-action %}{% endblock %}

        <!-- botón para regresar arriba -->
        {# include 'includes/_scroll_top_button.html' #}

        {% block modal %}
            <!-- ventana modal -->
            {% include 'includes/_modal.html' %}
        {% endblock %}

        {% include 'includes/_java_script.html' %}
        {% block js %}{% endblock %}

    </body>

</html>
