{% extends 'comunes/detalle.html' %}

{% load static %}
{% load mis_tags %}


{% block contenido %}

    <!-- izquierda -->
    <div class="col-lg-6">
        <!-- empresa -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Datos de la Empresa</h6>
                {% comment %}
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{object.get_update_url}}">Modificar</a>
                        <a class="dropdown-item" href="{{object.get_delete_url}}">Eliminar</a>
                    </div>
                </div>
                {% endcomment %}
            </div>
            <div class="card-body">
                {% include 'includes/_detail_snippet.html' %}
            </div>
            <div class="card-footer">
                {% if perms.empresa.change_empresa %}
                {# url object|url_action:'update' object.pk #}
                <a href="{{object.get_update_url}}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="text">Modificar</span>
                </a>
                {% endif %}
                {% if perms.empresa.delete_empresa %}
                <a href="{{object.get_delete_url}}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                    <span class="text">Eliminar</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- derecha -->
    <div class="col-lg-6">
        <!-- comunicaciones -->
        <div class="card shadow mb-4">
            <a href="#comunicacionCard" class="d-block card-header py-3" 
               data-toggle="collapse" role="button" aria-expanded="true" 
               aria-controls="comunicacionCard">
                <h6 class="m-0 font-weight-bold text-primary">Comunicaciones</h6>
            </a>
            <div class="collapse show" id="comunicacionCard">
                <div class="card-body">

                    {% if comunicaciones  %}

                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                        <!--
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        -->
                        <tbody>
                            {% for registro in comunicaciones %}
                            <tr>
                                <td>{{registro.tipo.texto}}</td>
                                <td>
                                    {% if perms.empresa.change_empresacomunicaciones %}
                                        <a href="{{registro.get_update_url}}">
                                            {{registro.texto}}
                                        </a>
                                    {% else %}
                                        {{registro.texto}}
                                    {% endif %}
                                </td>
                                {% if perms.empresa.delete_empresacomunicaciones %}
                                <td align="right" style="white-space:nowrap;">
                                    <a href="#" style="color: rgb(252, 40, 40)"
                                       data-toggle="modal" data-target="#confirmDelete"
                                       data-title="Eliminar asociación"
                                       data-message="¿Está seguro de eliminar esta asociación?"
                                       data-url="{% url 'empresa:comunication_delete' object.pk registro.pk %}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% endif  %}
                </div>
                {% if perms.empresa.add_empresacomunicaciones %}
                <div class="card-footer">
                    <!-- agregar nuevo contacto y asociarlo a la empresa -->
                    <a href="{{object.get_related_url_with_comunication}}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- actividades -->
        <div class="card shadow mb-4">
            <a href="#actividadCard" class="d-block card-header py-3" 
               data-toggle="collapse" role="button" aria-expanded="true" 
               aria-controls="actividadCard">
                <h6 class="m-0 font-weight-bold text-primary">Actividades</h6>
            </a>
            <div class="collapse show" id="actividadCard">
                <div class="card-body">
                    {% if actividades  %}
                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                        <tbody>

                            {% for registro in actividades %}
                            <tr>
                                <td>
                                    {% if perms.empresa.view_empresaactividades %}
                                        <a href="{% url 'empresa:empresa_actividad' object.pk registro.pk %}">
                                            {{registro}}
                                        </a>
                                    {% else %}
                                        {{registro}}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% endif  %}
                </div>
                {% comment %}   perms.empresa.add_empresaactividades
                <div class="card-footer">
                    <!-- agregar nuevo contacto y asociarlo a la empresa -->
                    <a href="{{object.get_related_url_with_actividad}}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Asignar actividades</span>
                    </a>
                </div>
                {% endcomment %}
            </div>
        </div>

        {% if perms.empresa.change_empresa %}
        <div class="card mb-4">
            <div class="card-body text-center">
                <a href="{{object.get_update_url}}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text"><strong>Confirmar Datos</strong></span>
                </a>
            </div>
        </div>
        {% endif %}
        
    </div>

{% endblock %}


{% block modal %}
    {% include 'includes/_modal_delete.html' %}
{% endblock %}


{% block js %}
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>

    <!-- mis funciones -->
    <script type="text/javascript">
        // delete modal
        $('#confirmDelete').on('show.bs.modal', function (e) {
            // título y mensaje personalizado
            $title = $(e.relatedTarget).attr('data-title');
            $(this).find('.modal-title').text($title);
            $message = $(e.relatedTarget).attr('data-message');
            $(this).find('.modal-body p').text($message);

            // url del boton Ok
            var dataURL = $(e.relatedTarget).data('url');
            var link = $(this).find('#btnOkModal')[0];
            link.href = dataURL;
        });

        $('#confirmDelete').find('btnOkModal').on('click', function (e) {
            console.log( JSON.stringify(e, null, 2) );
        });

    </script>
{% endblock %}
