{% extends 'default_base.html' %}

{% load static %}


{% block style %}
    <link href="{% static 'css/floating-button-action.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Panel de Control</h1>
        <a href="{% url 'empresa:list' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-list fa-sm text-white-50"></i> Listado por filtro
        </a>
    </div>        

    <div class="row">
        <div class="col-md-12"><b>Comerciales</b></div>
        {% for obj in comerciales %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                {{obj.comercial__persona__apellido|default_if_none:'No definido'}}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{obj.contador}}</div>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'empresa:filtro_comercial' obj.comercial|default_if_none:0 %}">
                                <i class="fas fa-angle-right fa-2x text-gray-500"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12"><b>Actividades</b></div>
        {% for obj in actividades %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {{obj.actividad__nombre|default_if_none:'No definido'}}
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{obj.contador}}</div>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'empresa:filtro_actividad' obj.actividad|default_if_none:0 %}">
                                <i class="fas fa-angle-right fa-2x text-gray-500"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}


{% block floating-button-action %}

    <button class="fixed-button-add wobble" type="button">
        <a href="{% url 'empresa:create' %}"
           data-toggle="tooltip" data-placement="top" title="Crear una nueva empresa">
            <i class="fas fa-plus"></i>
        </a>
    </button>

{% endblock %}
