<thead>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Nacimiento</th>
        <th>Edad</th>
        <th>Similar</th>
        <th>Activo</th>
    </tr>
</thead>
<tbody>
    {% for object in object_list %}
    <tr>
        <td><a href="{{object.get_detail_url}}">{{object.pk}}</a></td>
        <td>{{object.nombre_apellido}}</td>
        <td>{{object.documento|default_if_none:""}}</td>
        <td>{{object.fecha_nacimiento|default_if_none:""}}</td>
        <td>{{object.edad|default_if_none:""}}</td>
        <td>{{object.persona_similar|default_if_none:""}}</td>
        <td>{{object.active|yesno:"Sí,No"}}</td>
    </tr>
    {% endfor %}
</tbody>