{% extends 'comunes/detalle.html' %}

{% load static %}
{% load mis_tags %}


{% block contenido %}
    <!-- izquierda -->
    <div class="col-lg-6">
        <!-- persona -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Datos de la Persona</h6>
                {% comment %}
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{object.get_update_url}}">Modificar</a>
                        <a class="dropdown-item" href="{{object.get_delete_url}}">Eliminar</a>
                    </div>
                </div>
                {% endcomment %}
            </div>
            <div class="card-body">
                {% include 'includes/_detail_snippet.html' %}
            </div>
            <div class="card-footer">
                {# url object|url_action:'update' object.pk #}
                {% if perms.persona.change_persona %}
                <a href="{{object.get_update_url}}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="text">Modificar</span>
                </a>
                {% endif %}
                {% if perms.persona.delete_persona %}
                <a href="{{object.get_delete_url}}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Eliminar</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- derecha -->
    <div class="col-lg-6">
        <!-- contactos -->
        <div class="card shadow mb-4">
            <a href="#comunicacionCard" class="d-block card-header py-3" 
               data-toggle="collapse" role="button" aria-expanded="true" 
               aria-controls="comunicacionCard">
                <h6 class="m-0 font-weight-bold text-primary">Datos de Contacto</h6>
            </a>
            <div class="collapse show" id="comunicacionCard">
                <div class="card-body">
                    {% if comunicaciones  %}
                    <table class="table">
                        <tbody>
                            {% for registro in comunicaciones %}
                            <tr>
                                <td>{{registro.tipo}}</td>
                                <td>
                                    {% if perms.empresa.change_comunicacion %}
                                    <a href="{{registro.get_update_url}}">{{registro.texto}}</a>
                                    {% else %}
                                    {{registro.texto}}
                                    {% endif %}
                                </td>
                                {% if perms.empresa.delete_comunicacion %}
                                <td align="right" style="white-space:nowrap;">
                                    <a href="#" style="color: rgb(252, 40, 40)"
                                       data-toggle="modal" data-target="#confirmDelete"
                                       data-title="Eliminar asociación"
                                       data-message="¿Está seguro de eliminar esta asociación?"
                                       data-url="{% url 'persona:persona_contacto_eliminar' object.pk registro.pk %}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                {% if perms.empresa.add_comunicacion %}
                <div class="card-footer">
                    {% if perms.persona.add_comunicacion %}
                    <a href="{{object.get_related_url_with_contact}}" class="btn btn-sm btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                    {% endif %}
                    <!-- asociar contacto existente a la empresa -->
                    {# url 'empresa:buscar_contacto' object.pk #}
                    <a href="#" class="btn btn-sm btn-secondary btn-icon-split"
                        data-toggle="modal" data-target="#myModal"
                        data-url="#"
                        data-pk="{{object.pk}}">
                        <span class="icon text-white-50">
                            <i class="fas fa-link"></i>
                        </span>
                        <span class="text">Asociar</span>
                    </a>                    
                </div>
                {% endif %}
            </div>
        </div>

        <!-- domicilio -->
        <div class="card shadow mb-4">
            <a href="#domicilioCard" class="d-block card-header py-3 collapsed" 
               data-toggle="collapse" role="button" aria-expanded="false" 
               aria-controls="domicilioCard">
                <h6 class="m-0 font-weight-bold text-primary">Datos de Domicilio</h6>
            </a>
            <div class="collapse" id="domicilioCard">
                <div class="card-body">
                    {% with object.domicilio as object %}
                        {% include 'includes/_detail_snippet.html' %}
                    {% endwith %}
                </div>
                {% if perms.empresa.add_comunicacion or perms.empresa.change_comunicacion %}
                <div class="card-footer">
                    {% if object.domicilio %}
                    <a href="{{object.domicilio.get_update_url}}" class="btn btn-sm btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Modificar</span>
                    </a>
                    {% else %}
                    <a href="{{object.get_related_url_with_address}}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}



{% block modal %}
    {% include 'includes/_modal_delete.html' %}
{% endblock %}


{% block js %}
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>

    <!-- mis funciones -->
    <script type="text/javascript">
        // delete modal
        $('#confirmDelete').on('show.bs.modal', function (e) {
            // título y mensaje personalizado
            $title = $(e.relatedTarget).attr('data-title');
            $(this).find('.modal-title').text($title);
            $message = $(e.relatedTarget).attr('data-message');
            $(this).find('.modal-body p').text($message);

            // url del boton Ok
            var dataURL = $(e.relatedTarget).data('url');
            var link = $(this).find('#btnOkModal')[0];
            link.href = dataURL;
        });

        $('#confirmDelete').find('btnOkModal').on('click', function (e) {
            console.log( JSON.stringify(e, null, 2) );
        });

    </script>
{% endblock %}
