{% extends 'comunes/detalle.html' %}

{% load static %}
{% load mis_tags %}


{% block contenido %}

    <!-- izquierda -->
    <div class="col-lg-6">
        <!-- persona -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Datos de la Persona</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{object.get_update_url}}">Modificar</a>
                        <a class="dropdown-item" href="{{object.get_delete_url}}">Eliminar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% include 'includes/_detail_snippet.html' %}
            </div>
            <div class="card-footer">
                <a href="{% url object|url_action:'update' object.pk %}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="text">Modificar</span>
                </a>
            </div>
        </div>
    </div>

    <!-- derecha -->
    <div class="col-lg-6">
        <!-- contactos -->
        <div class="card shadow mb-4">
            <a href="#comunicacionCard" class="d-block card-header py-3" 
               data-toggle="collapse" role="button" aria-expanded="true" 
               aria-controls="comunicacionCard">
                <h6 class="m-0 font-weight-bold text-primary">Datos de Contacto</h6>
            </a>
            <div class="collapse show" id="comunicacionCard">
                <div class="card-body">
                    {% if comunicaciones  %}
                    <table class="table">
                        <tbody>
                            {% for registro in comunicaciones %}
                            <tr>
                                <td>{{registro.tipo}}</td>
                                <td>
                                    <a href="{{registro.get_update_url}}">{{registro.texto}}</a>                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{{object.get_related_url_with_contact}}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- domicilio -->
        <div class="card shadow mb-4">
            <a href="#domicilioCard" class="d-block card-header py-3" 
               data-toggle="collapse" role="button" aria-expanded="false" 
               aria-controls="domicilioCard">
                <h6 class="m-0 font-weight-bold text-primary">Datos de Domicilio</h6>
            </a>
            <div class="collapse" id="domicilioCard">
                <div class="card-body">
                    {% with object.domicilio as object %}
                    {% include 'includes/_detail_snippet.html' %}
                    {% endwith %}
                </div>    
                <div class="card-footer">
                    {% if object.domicilio %}
                    <a href="{{object.domicilio.get_update_url}}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Modificar</span>
                    </a>
                    {% else %}
                    <a href="{{object.get_related_url_with_address}}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
