<script>
  $("#id_tipo").change(function () {
    var tipoId = $(this).val();
    // 10 - domicilio de explotacion  -  TODO: HARDCODE
    $('#div_id_hectarea').hidden()
    if (tipoId == 10) {
      //$('#myform').append('<input type="text" name="field_name" value="value" />');
      
      // $('#div_id_hectarea').show()
      document.getElementById("div_id_hectarea").style.display = "none";

      // <div class="formColumn col-lg-4 col-md-4 col-sm-6 mb-0">
      // <div id="div_id_hectarea" class="form-group">
      // <label for="id_hectarea" class="col-form-label">Hectareas</label>
      // <div class="">
      // <input type="text" name="hectarea" maxlength="2" class="textinput textInput form-control" id="id_hectarea">
      // </div>
      // </div>
      // </div>
    }
  });  

  $("#id_provincia").change(function () {
    var url = "{% url 'domicilio:ajax_carga_departamentos' %}";
    var provinciaId = $(this).val();
    $.ajax({
      url: url,
      data: {fk: provinciaId},      
      success: function (data) {
        $("#id_departamento").html(data);
        $('#id_localidad').empty();
      },
      error: function(xhr, status, error) {
        alert(xhr.responseText);
      }      
    });
  });

  $("#id_departamento").change(function () {
    var url = "{% url 'domicilio:ajax_carga_localidades' %}";
    var departamentoId = $(this).val();
    $.ajax({
      url: url,
      data: {fk: departamentoId},      
      success: function (data) {
        $("#id_localidad").html(data);
      },
      error: function(xhr, status, error) {
        alert(xhr.responseText);
      }      
    });
  });
</script>
