{% extends 'comunes/detalle.html' %}

{% load static %}
{% load mis_tags %}


{% block style %}
    <!-- dataTables.bootstrap4.min.css -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatable.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block contenido %}
    <!-- izquierda -->
    <div class="col-lg-6">
        <!-- actividad -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Datos de la Empresa/Actividad</h6>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Empresa</dt>
                    <dd><a href="{{object.empresa.get_detail_url}}">{{object.empresa}}</a></dd>
                </dl>
                <dl>
                    <dt>Actividad</dt>
                    <dd>{{object.actividad}}</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-warning btn-icon-split">                   
                   <span class="icon text-white-50"><i class="fas fa-undo"></i></span>
                   <span class="text text-dark">Regresar</span>
                </a>
            </div>
        </div>

        {% if object.empresa.actividad_id == 2 or object.empresa.actividad_id == 3 %}
        <div class="card shadow mb-4">
            <a href="#infoCard" class="d-block card-header py-3" 
                data-toggle="collapse" role="button" aria-expanded="true" 
                aria-controls="infoCard">
                <h6 class="m-0 font-weight-bold text-primary">
                    Info: {{object.empresa.actividad.nombre}}
                </h6>
            </a>
            <div class="collapse show" id="infoCard">
                <div class="card-body">
                    {% for fld in info.0.get_fields %}
                        {% if fld.name != 'empresa actividad' %}
                            <dl>
                                <dt>{{fld.name|capfirst}}</dt>
                                <dd>{{fld.value|escape|urlize}}</dd>
                            </dl>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer">
                    {% if info %}
                    <a href="{% url 'empresa_actividad:eai_actualizar' object.pk info.0.pk %}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Modificar</span>
                    </a>
                    {% else %}
                    <a href="{% url 'empresa_actividad:eai_crear' object.pk %}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- derecha -->
    <div class="col-lg-6">
        <!-- domicilios -->
        <div class="card shadow mb-4">
            <a href="#domicilioCard" class="d-block card-header py-3" 
               data-toggle="collapse" role="button" aria-expanded="true" 
               aria-controls="domicilioCard">
                <h6 class="m-0 font-weight-bold text-primary">Domicilios</h6>
            </a>
            <div class="collapse show" id="domicilioCard">
                <div class="card-body">
                    {% if domicilios  %}
                    <table class="table" id="dtDomicilio" width="100%" cellspacing="0">
                        <tbody>
                            {% for registro in domicilios %}
                            <tr>
                                <td>
                                    {{registro.domicilio.tipo}}<br>
                                    {% if perms.empresa.change_empresaactividaddomicilios %}
                                    <a href="{{registro.domicilio.get_update_url}}">{{registro.domicilio}}</a>
                                    {% else %}
                                    {{registro.domicilio}}
                                    {% endif %}<br>
                                    {{registro.domicilio.localidad_texto}}
                                </td>
                                <td align="right" style="white-space:nowrap;">
                                    <a href="#" style="color: gray;"
                                       data-toggle="modal" data-target="#myModal"
                                       data-title="Modificar asociación"
                                       data-url="{% url 'empresa_actividad:reasignar_domicilio' object.pk registro.pk %}"
                                       data-pk="{{object.pk}}" data-type="table">
                                        <i class="fa fa-exchange-alt"></i>
                                    </a>
                                    {% if perms.empresa.delete_empresaactividaddomicilios %}
                                    <a href="#" style="color: rgb(252, 40, 40)"
                                        data-toggle="modal" data-target="#myModal"
                                        data-title="Eliminar asociación"
                                        data-message="¿Está seguro de eliminar esta asociación?"
                                        data-url="{% url 'empresa_actividad:ead_delete' registro.pk %}"
                                        data-type="delete">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif  %}
                </div>
                {% if perms.empresa.add_empresaactividaddomicilios %}
                <div class="card-footer">
                    <!-- agregar nuevo domicilio y asociarlo a la empresa -->
                    <a href="{% url 'empresa_actividad:emp_act_domicilio' object.pk %}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                </div>
                {% endif %}                
            </div>
        </div>

        <!-- contactos -->
        <div class="card shadow mb-4">
            <a href="#contactoCard" class="d-block card-header py-3" 
               data-toggle="collapse" role="button" aria-expanded="true" 
               aria-controls="contactoCard">
                <h6 class="m-0 font-weight-bold text-primary">Contactos</h6>
            </a>
            <div class="collapse show" id="contactoCard">
                <div class="card-body">
                    {% if contactos  %}
                    <table class="table" id="dtContacto" width="100%" cellspacing="0">
                        <tbody>
                            {% for registro in contactos %}
                            <tr>
                                <td>
                                    <a href="{{registro.persona.get_detail_url}}" target="_blank">{{registro.persona}}</a>
                                </td>
                                <td>
                                    {% if perms.empresa.change_empresaactividadcontactos %}
                                        <a href="#"
                                        data-toggle="modal" data-target="#myModal"
                                        data-title="Asignar Puesto Laboral"
                                        data-url="{% url 'empresa_actividad:eac_asignar_cargo' object.pk registro.pk %}"
                                        data-pk="{{object.pk}}" data-type="form">
                                            {{registro.cargo}}
                                        </a>
                                    {% else %}
                                        {{registro.cargo}}
                                    {% endif %}
                                </td>
                                {% if perms.empresa.delete_empresaactividadcontactos %}
                                <td align="right" style="white-space:nowrap;">
                                    <a href="#" style="color: rgb(252, 40, 40)"
                                        data-toggle="modal" data-target="#myModal"
                                        data-title="Eliminar asociación"
                                        data-message="¿Está seguro de eliminar esta asociación?"
                                        data-url="{% url 'empresa_actividad:eac_delete' registro.pk %}"
                                        data-type="delete">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif  %}
                </div>
                <div class="card-footer">
                    {% if perms.empresa.add_empresaactividadcontactos %}
                    <!-- agregar nuevo contacto y asociarlo a la empresa -->
                    <a href="{% url 'empresa_actividad:emp_act_contacto' object.pk %}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo</span>
                    </a>
                    {% endif %}
                    <!-- asociar contacto existente a la empresa -->
                    <a href="#" class="btn btn-secondary btn-icon-split"
                        data-toggle="modal" data-target="#myModal"
                        data-url="{% url 'empresa:buscar_contacto' object.pk %}"
                        data-pk="{{object.pk}}">
                        <span class="icon text-white-50">
                            <i class="fas fa-link"></i>
                        </span>
                        <span class="text">Asociar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block modal %}
    {# https://pypi.org/project/django-bootstrap-modal-forms/ #}
    {% include 'includes/_modal.html' %}
{% endblock %}


{% block js %}
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>

    <!-- mis funciones -->
    <script type="text/javascript">
        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var $dataURL = button.data('url');
            var $message = button.data('message');
            var $title = button.data('title');
            var $type = button.data('type');
            var dataPK = button.data('pk');

            // título de la ventana
            $(this).find('#myModalLabel').text($title);

            if ($type == 'delete') {
                $(this).find('#myModalBody').text($message);
                // determinamos la acción del boton Ok
                $('#myModalFooter').show();
                var link = $(this).find('#myModalOk')[0];
                link.href = $dataURL;
            }
            else {
                if ($type == 'table') {
                    $('#myModalFooter').hide();
                }
                else if ($type == 'form') {
                    $('#myModalFooter').show();
                    // var link = $(this).find('#myModalOk')[0];
                    // link.href = $dataURL;
                }

                $.ajax({
                    type: 'GET',
                    url: $dataURL,
                    data: {pk: dataPK},
                    success: function(response) {
                        $('#myModalBody').html(response);
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                    },
                });
            }
        })

        $('#myModal').find('#myModalOk').on('click', function (event) {
            console.log( JSON.stringify(event, null, 2) );
        });

        $('#myModal').on('hidden.bs.modal', function (event) {
            $('#modalContent').html("Cargando datos ...");
            $('#myModalFooter').show();
        })
    </script>
{% endblock %}
