{% load static %}


<table id="dataTableModal" class="display compact" style="width:100%">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>DNI</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'empresa_actividad:emp_act_contacto_asociar' empresa_actividad_id object.pk %}">{{object}}</a></td>
            <td>{{object.dni}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script type="text/javascript" class="init">
$(document).ready(function() {
  $('#dataTableModal').DataTable({
    "info":     false,
    "language": {
      "decimal":        "",
      "emptyTable":     "No hay datos disponibles en la tabla",
      "loadingRecords": "Cargando ...",
      "processing":     "Procesando ...",
      "search":         "Buscar:",
      "paginate": {
          "first":      "<<",
          "last":       ">>",
          "next":       ">",
          "previous":   "<"
      },
    },
    "lengthChange": false,
    "searching": true,
    "ordering": false,
    "paging": true,
    "pagingType": "simple",
  });
});
</script>
