
<thead>
    <tr>
        <th>#</th>
        <th>Razon Social</th>
        <th>CUIT</th>
        <th>Act. Principal</th>
        <th>Modificado</th>
        <th>Activo</th>
    </tr>
</thead>
<tbody>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_detail_url}}" target="_blank">{{object.razon_social}}</a></td>
        <td>{{object.cuit|default_if_none:""}}</td>
        <td>{{object.actividad|default_if_none:""}}</td>
        <td>{{object.modified|date:"d/m/Y"}}</td>
        <td>{% if object.active %}✔{% else %}✘{% endif %}</td>
    </tr>
    {% endfor %}
</tbody>
