<!doctype html>
{% load static %}
<html lang="es">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Roberto West">
        <meta name="description" content="Somos una empresa que a trav&eacute;s de la distribución de productos YPF, busca satisfacer a la clientela brindando un servicio de excelencia a partir del desarrollo de nuestros recursos humanos, de una estructura adecuada y alineada a la estrategia de nuestro principal proveedor, buscamos a partir de resultados, maximizar nuestro desempeño organizacional." />
        <meta name="keywords" content="Lubre, YPF, Lubricantes, Fertilizantes, Agroquimicos, Combustibles, Parafinas, Asfaltos, Herbicidas, Automotores, Funguicidas, Grasas, Aceites, Tucuman, Argentina, Elaion, Insecticidas, Plasticos, Nutricion Vegetal" />
        <meta name="google-site-verification" content="3BQjqRZAss16-xMFZRhgOfBTsfKozCVwbJ3CMpiPkIU" />

        <!-- título de página -->
        <title>Lubre SRL</title>
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" sizes="32x32">

        <!--Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <!--vendors styles-->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        <!-- Bootstrap CSS / Esquema de colores -->
        <link rel="stylesheet" href="{% static 'css/indigo.css' %}" id="theme-color">

        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/feather.min.js' %}"></script>
        <!-- locales -->
        <script src="{% static 'js/landing_scripts.js' %}"></script>

        {% block jscript %}
        {% endblock %}
    </body>
</html>
