{% extends 'default_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load mis_tags %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        {% firstof form_title 'Formulario' %}
                    </h6>
                </div>
                <div class="card-body">
                    <input type="hidden" value="{{object.pk}}" id="pk" readonly>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
    $('#myform').append('<input type="hidden" name="previous_url" value="'+document.referrer+'" />');
    </script>

    {# cargamos el template del directorio local de la aplicación #}
    {% with appname|add:"/comunes_formulario.html" as template_name %}
        {% if template_name|file_exists %}
            <!-- agregamos funciones personalizadas -->
            {% include template_name %}
        {% endif %}
    {% endwith %}

{% endblock %}




{% comment %}
<div class="card-footer">
    <a class="btn btn-sm " href="{{request.META.HTTP_REFERER}}">Regresar</button>
</div>
{% endcomment %}
