{% extends 'default_base.html' %}

{% load static %}
{% load mis_tags %}
{% load crispy_forms_tags i18n %}
{% load render_table from django_tables2 %}


{% block style %}
    <link href="{% static 'css/floating-button-action.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        {% comment %}
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Listado de {{object_list|verbose_name_plural}}</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url request.resolver_match.app_name|add:':create' %}">Nuevo</a>
                    <a class="dropdown-item" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Filtro
                    </a>
                </div>
            </div>
        </div>
        {% endcomment %}
        
        <div class="card-header container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h6 class="m-0 font-weight-bold text-primary">Listado de {{object_list|verbose_name_plural}}</h6>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-sm btn-sm btn-primary float-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Filtro
                    </a>
                    <!-- button class="btn btn-sm btn-primary float-right">Filtro</button -->
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    {% crispy filter.form filter.form.helper %}
                </div>
            </div>
            <!-- tabla de contenido -->
            <div class="card-body">
                <div class="table-responsive">
                    {% render_table table %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block floating-button-action %}
    {% with appdomain|default:appname|add:".add_"|add:appname as permiso %}
        {% if permiso in perms %}
        <!-- data-toggle="tooltip" data-placement="left" title="--permiso--" -->
        <button class="fixed-button-add wobble" type="button">
            <a href="{% url request.resolver_match.app_name|add:':create' %}">
                <i class="fas fa-plus"></i>
            </a>
        </button>
        {% endif %}
    {% endwith %}
{% endblock %}
